DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL=postgresql://asephs:***@100.121.180.82:6432/boost
BOOSTER_ROLE_ANCHOR_ROLE_ID=
BOOSTER_ELIGIBILITY_ROLE_ID=1206431347925852162
BOOSTER_GREETING_CHANNEL_ID=
LOG_LEVEL=info
